In [347]:
import pandas as pd 
import numpy as np

In [385]:
data = pd.read_csv("crime_data.csv")

In [378]:
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,241711715,8/1/2024 0:00,8/1/2024 0:00,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,8300 KELVIN AV,NaN,34.2200,-118.5863
1,231014031,9/21/2023 0:00,9/15/2023 0:00,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,18900 CANTLAY ST,NaN,34.2023,-118.5458
2,231010808,6/27/2023 0:00,6/26/2023 0:00,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7300 ENFIELD AV,NaN,34.2033,-118.5241
3,211410441,4/25/2021 0:00,4/25/2021 0:00,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,IC,Invest Cont,626.0,NaN,NaN,NaN,5800 W CENTURY BL,NaN,33.9456,-118.3835
4,211114569,10/25/2021 0:00,10/25/2021 0:00,1455,11,Northeast,1123,1,210,ROBBERY,...,IC,Invest Cont,210.0,NaN,NaN,NaN,2900 LOS FELIZ BL,NaN,0.0000,0.0000

In [379]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DR_NO           50000 non-null  int64
 1   Date Rptd       50000 non-null  object
 2   DATE OCC        50000 non-null  object
 3   TIME OCC        50000 non-null  int64
 4   AREA            50000 non-null  int64
 5   AREA NAME       50000 non-null  object
 6   Rpt Dist No     50000 non-null  int64
 7   Part 1-2        50000 non-null  int64
 8   Crm Cd          50000 non-null  int64
 9   Crm Cd Desc     50000 non-null  object
 10  Mocodes         42502 non-null  object
 11  Vict Age        50000 non-null  int64
 12  Vict Sex        42837 non-null  object
 13  Vict Descent    42835 non-null  object
 14  Premis Cd       50000 non-null  int64
 15  Premis Desc     49971 non-null  object
 16  Weapon_Used_Cd  16346 non-null  float64
 17  Weapon Desc     16346 non-null  object
 18  Status          50000 non-null  object
 19  Status Desc     50000 non-null  object
 20  Crm Cd 1        49998 non-null  float64
 21  Crm Cd 2        3552 non-null   float64
 22  Crm Cd 3        115 non-null    float64
 23  Crm Cd 4        5 non-null      float64
 24  LOCATION        50000 non-null  object
 25  Cross Street    7742 non-null   object
 26  LAT             50000 non-null  float64
 27  LON             50000 non-null  float64
dtypes: float64(7), int64(8), object(13)
memory usage: 10.7+ MB

In [351]:
len(data)

50000

In [352]:
(data.isnull().sum()/len(data) > 0.5)

DR_NO             False
Date Rptd         False
DATE OCC          False
TIME OCC          False
AREA              False
AREA NAME         False
Rpt Dist No       False
Part 1-2          False
Crm Cd            False
Crm Cd Desc       False
Mocodes           False
Vict Age          False
Vict Sex          False
Vict Descent      False
Premis Cd         False
Premis Desc       False
Weapon_Used_Cd     True
Weapon Desc        True
Status            False
Status Desc       False
Crm Cd 1          False
Crm Cd 2           True
Crm Cd 3           True
Crm Cd 4           True
LOCATION          False
Cross Street       True
LAT               False
LON               False
dtype: bool

In [353]:
data.loc[:, (data.isnull().sum() <= 0.5)]

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Premis Cd,Status,Status Desc,LOCATION,LAT,LON
0,241711715,8/1/2024 0:00,8/1/2024 0:00,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),25,501,IC,Invest Cont,8300 KELVIN AV,34.2200,-118.5863
1,231014031,9/21/2023 0:00,9/15/2023 0:00,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,23,501,IC,Invest Cont,18900 CANTLAY ST,34.2023,-118.5458
2,231010808,6/27/2023 0:00,6/26/2023 0:00,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,37,501,IC,Invest Cont,7300 ENFIELD AV,34.2033,-118.5241
3,211410441,4/25/2021 0:00,4/25/2021 0:00,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,25,503,IC,Invest Cont,5800 W CENTURY BL,33.9456,-118.3835
4,211114569,10/25/2021 0:00,10/25/2021 0:00,1455,11,Northeast,1123,1,210,ROBBERY,0,412,IC,Invest Cont,2900 LOS FELIZ BL,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,211415242,7/18/2021 0:00,7/18/2021 0:00,1651,14,Pacific,1494,2,623,BATTERY POLICE (SIMPLE),0,212,AA,Adult Arrest,200 WORLD WAY WY,33.9420,-118.4095
49996,200905135,1/27/2020 0:00,1/25/2020 0:00,1100,9,Van Nuys,941,1,210,ROBBERY,33,124,IC,Invest Cont,SEPULVEDA BL,34.1758,-118.4662
49997,220711599,7/14/2022 0:00,7/13/2022 0:00,305,7,Wilshire,721,1,310,BURGLARY,0,203,IC,Invest Cont,8500 W 3RD ST,34.0734,-118.3765
49998,211810785,5/21/2021 0:00,5/21/2021 0:00,200,18,Southeast,1842,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,32,101,IC,Invest Cont,IMPERIAL HY,33.9310,-118.2739
49999,241406818,3/2/2024 0:00,11/10/2022 0:00,1600,14,Pacific,1473,1,821,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,31,501,IC,Invest Cont,7400 W MANCHESTER AV,33.9599,-118.4237

In [354]:
data = data.drop(data.columns[data.isnull().sum()/len(data) > 0.5], axis=1)

In [355]:
data["DATE OCC"] = pd.to_datetime(data["DATE OCC"])

In [356]:
data['DATE OCC'].describe()

count                         50000
mean     2022-05-14 03:48:26.496000
min             2020-01-01 00:00:00
25%             2021-04-04 00:00:00
50%             2022-05-27 00:00:00
75%             2023-06-23 00:00:00
max             2024-12-29 00:00:00
Name: DATE OCC, dtype: object

In [357]:
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON
0,241711715,8/1/2024 0:00,2024-08-01,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,M,O,501,SINGLE FAMILY DWELLING,IC,Invest Cont,440.0,8300 KELVIN AV,34.2200,-118.5863
1,231014031,9/21/2023 0:00,2023-09-15,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,F,W,501,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,18900 CANTLAY ST,34.2023,-118.5458
2,231010808,6/27/2023 0:00,2023-06-26,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,F,O,501,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,7300 ENFIELD AV,34.2033,-118.5241
3,211410441,4/25/2021 0:00,2021-04-25,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,F,B,503,HOTEL,IC,Invest Cont,626.0,5800 W CENTURY BL,33.9456,-118.3835
4,211114569,10/25/2021 0:00,2021-10-25,1455,11,Northeast,1123,1,210,ROBBERY,...,X,X,412,"ELECTRONICS STORE (IE:RADIO SHACK, ETC.)",IC,Invest Cont,210.0,2900 LOS FELIZ BL,0.0000,0.0000

In [358]:
data['Year'] = data["DATE OCC"].dt.year
data['Month'] = data['DATE OCC'].dt.month
data['day'] = data['DATE OCC'].dt.day

In [359]:
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,Year,Month,day
0,241711715,8/1/2024 0:00,2024-08-01,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,SINGLE FAMILY DWELLING,IC,Invest Cont,440.0,8300 KELVIN AV,34.2200,-118.5863,2024,8,1
1,231014031,9/21/2023 0:00,2023-09-15,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,18900 CANTLAY ST,34.2023,-118.5458,2023,9,15
2,231010808,6/27/2023 0:00,2023-06-26,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,7300 ENFIELD AV,34.2033,-118.5241,2023,6,26
3,211410441,4/25/2021 0:00,2021-04-25,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,HOTEL,IC,Invest Cont,626.0,5800 W CENTURY BL,33.9456,-118.3835,2021,4,25
4,211114569,10/25/2021 0:00,2021-10-25,1455,11,Northeast,1123,1,210,ROBBERY,...,"ELECTRONICS STORE (IE:RADIO SHACK, ETC.)",IC,Invest Cont,210.0,2900 LOS FELIZ BL,0.0000,0.0000,2021,10,25

In [360]:
data_filtered = data[(data['Year']==2023) & ( data["Crm Cd Desc"] == "BURGLARY")]

In [361]:
data_filtered.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,Year,Month,day
47,231107877,4/15/2023 0:00,2023-01-15,500,11,Northeast,1151,1,310,BURGLARY,...,OTHER RESIDENCE,IC,Invest Cont,310.0,5000 W SUNSET BL,34.0981,-118.2983,2023,1,15
147,231912840,8/15/2023 0:00,2023-08-14,2200,19,Mission,1962,1,310,BURGLARY,...,CONDOMINIUM/TOWNHOUSE,IC,Invest Cont,310.0,15000 CORE LN,34.2424,-118.4596,2023,8,14
292,230813484,8/19/2023 0:00,2023-08-19,510,8,West LA,857,1,310,BURGLARY,...,RESTAURANT/FAST FOOD,IC,Invest Cont,310.0,9400 W PICO BL,34.0553,-118.3943,2023,8,19
317,230126836,12/20/2023 0:00,2023-12-10,1200,1,Central,154,1,310,BURGLARY,...,PUBLIC STORAGE,IC,Invest Cont,310.0,100 E 6TH ST,34.0460,-118.2493,2023,12,10
326,231506351,2/26/2023 0:00,2023-02-22,1230,15,N Hollywood,1562,1,310,BURGLARY,...,SINGLE FAMILY DWELLING,IC,Invest Cont,310.0,4400 BABCOCK AV,34.1504,-118.4063,2023,2,22

In [362]:
data_by_Area_Name = data.groupby('AREA NAME').agg(total_crimes=('Crm Cd', 'count'), average_age=('Vict Age', 'mean')).sort_values(by= 'total_crimes', ascending=False)

In [363]:
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,Year,Month,day
0,241711715,8/1/2024 0:00,2024-08-01,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,SINGLE FAMILY DWELLING,IC,Invest Cont,440.0,8300 KELVIN AV,34.2200,-118.5863,2024,8,1
1,231014031,9/21/2023 0:00,2023-09-15,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,18900 CANTLAY ST,34.2023,-118.5458,2023,9,15
2,231010808,6/27/2023 0:00,2023-06-26,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,7300 ENFIELD AV,34.2033,-118.5241,2023,6,26
3,211410441,4/25/2021 0:00,2021-04-25,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,HOTEL,IC,Invest Cont,626.0,5800 W CENTURY BL,33.9456,-118.3835,2021,4,25
4,211114569,10/25/2021 0:00,2021-10-25,1455,11,Northeast,1123,1,210,ROBBERY,...,"ELECTRONICS STORE (IE:RADIO SHACK, ETC.)",IC,Invest Cont,210.0,2900 LOS FELIZ BL,0.0000,0.0000,2021,10,25

In [364]:
n = 3
data['Crm Cd Desc'].value_counts().idxmax()

'VEHICLE - STOLEN'

In [365]:
grouped_data_hour = data.groupby('TIME OCC')['Crm Cd'].count()
print(grouped_data_hour)

TIME OCC
1       860
2        10
3         6
4        12
5       172
       ...
2355     58
2356      5
2357      2
2358      1
2359     32
Name: Crm Cd, Length: 1394, dtype: int64

In [366]:
data_by_VictSex = data.groupby('Vict Sex').agg(total_crimes=('Crm Cd', 'count'), average_age=('Vict Age', 'mean'))
print(data_by_VictSex)

          total_crimes  average_age
Vict Sex
F                17922    38.164156
H                    3    36.333333
M                20076    37.165621
X                 4836     2.672043

In [387]:
data.loc[~data['Weapon_Used_Cd'].isna(), "Severity_Score"] = 5


data.loc[data['Crm Cd Desc'] == 'BURGLARY', "Severity_Score"] = 3


data['Severity_Score'] = data['Severity_Score'].fillna(1)

print(data)

           DR_NO        Date Rptd         DATE OCC  TIME OCC  AREA  \
0      241711715    8/1/2024 0:00    8/1/2024 0:00      1319    17
1      231014031   9/21/2023 0:00   9/15/2023 0:00      1930    10
2      231010808   6/27/2023 0:00   6/26/2023 0:00      1230    10
3      211410441   4/25/2021 0:00   4/25/2021 0:00      2330    14
4      211114569  10/25/2021 0:00  10/25/2021 0:00      1455    11
...          ...              ...              ...       ...   ...
49995  211415242   7/18/2021 0:00   7/18/2021 0:00      1651    14
49996  200905135   1/27/2020 0:00   1/25/2020 0:00      1100     9
49997  220711599   7/14/2022 0:00   7/13/2022 0:00       305     7
49998  211810785   5/21/2021 0:00   5/21/2021 0:00       200    18
49999  241406818    3/2/2024 0:00  11/10/2022 0:00      1600    14

         AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0       Devonshire         1791         1     440
1      West Valley         1011         2     354
2      West Valley         1015         2     354
3          Pacific         1488         2     626
4        Northeast         1123         1     210
...            ...          ...       ...     ...
49995      Pacific         1494         2     623
49996     Van Nuys          941         1     210
49997     Wilshire          721         1     310
49998    Southeast         1842         2     626
49999      Pacific         1473         1     821

                                             Crm Cd Desc  ...   Status Desc  \
0                     THEFT PLAIN - PETTY ($950 & UNDER)  ...   Invest Cont
1                                      THEFT OF IDENTITY  ...   Invest Cont
2                                      THEFT OF IDENTITY  ...   Invest Cont
3                      INTIMATE PARTNER - SIMPLE ASSAULT  ...   Invest Cont
4                                                ROBBERY  ...   Invest Cont
...                                                  ...  ...           ...
49995                            BATTERY POLICE (SIMPLE)  ...  Adult Arrest
49996                                            ROBBERY  ...   Invest Cont
49997                                           BURGLARY  ...   Invest Cont
49998                  INTIMATE PARTNER - SIMPLE ASSAULT  ...   Invest Cont
49999  SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...  ...   Invest Cont

       Crm Cd 1 Crm Cd 2 Crm Cd 3  Crm Cd 4  \
0         440.0      NaN      NaN       NaN
1         354.0      NaN      NaN       NaN
2         354.0      NaN      NaN       NaN
3         626.0      NaN      NaN       NaN
4         210.0      NaN      NaN       NaN
...         ...      ...      ...       ...
49995     623.0    624.0      NaN       NaN
49996     210.0      NaN      NaN       NaN
49997     310.0      NaN      NaN       NaN
49998     626.0      NaN      NaN       NaN
49999     821.0      NaN      NaN       NaN

                                       LOCATION  \
0       8300    KELVIN                       AV
1      18900    CANTLAY                      ST
2       7300    ENFIELD                      AV
3       5800 W  CENTURY                      BL
4       2900    LOS FELIZ                    BL
...                                         ...
49995    200    WORLD WAY                    WY
49996           SEPULVEDA                    BL
49997   8500 W  3RD                          ST
49998           IMPERIAL                     HY
49999   7400 W  MANCHESTER                   AV

                          Cross Street      LAT       LON Severity_Score
0                                  NaN  34.2200 -118.5863            1.0
1                                  NaN  34.2023 -118.5458            1.0
2                                  NaN  34.2033 -118.5241            1.0
3                                  NaN  33.9456 -118.3835            5.0
4                                  NaN   0.0000    0.0000            5.0
...                                ...      ...       ...            ...
49995                              NaN  33.9420 -118.4095            5.0
49996                         HATTERAS  34.1758 -118.4662            5.0
49997                              NaN  34.0734 -118.3765            3.0
49998  MAIN                         ST  33.9310 -118.2739            5.0
49999                              NaN  33.9599 -118.4237            5.0

[50000 rows x 29 columns]

In [391]:
area_severity_scores = data.groupby('AREA NAME')['Severity_Score'].sum()
print(area_severity_scores)

AREA NAME
77th Street    9213.0
Central        8485.0
Devonshire     4375.0
Foothill       3801.0
Harbor         4934.0
Hollenbeck     4429.0
Hollywood      6512.0
Mission        4489.0
N Hollywood    5401.0
Newton         6745.0
Northeast      4451.0
Olympic        6245.0
Pacific        6382.0
Rampart        6182.0
Southeast      7107.0
Southwest      6989.0
Topanga        4446.0
Van Nuys       4706.0
West LA        4533.0
West Valley    4924.0
Wilshire       5197.0
Name: Severity_Score, dtype: float64